<!DOCTYPE html> 
<html>

<head>
  <meta charset="utf-8">
  <title>7ADER-Teacher Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  
  <div class="contaier">
    <img src="{{ url_for('static', filename='img/7ader.png')}}" class="col-md-8 col-sm-11 col-11">
    <form class="container col-md-3 col-sm-4 col-6 mx-auto my-auto" method="POST">
        <div class="form-group">
          <label for="method="POST>Username</label>
          <input type="username" class="form-control" placeholder="Enter Username" id="form9" name="username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input input type="password" class="form-control" placeholder="Password" id="form10" name="password">
        </div>
        <button type="submit" class="btn btn-info button">Submit</button>
      </form>
    </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>